*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(187, 245, 245, 0.938);
}
div{
    border: 2px solid black;
    
    
}
.maincon{
    height: 800px;
    width: 800px;
    display: flex;
}

.left{
    height: 600px;
    width: 200px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: brown;
}

.right{

    height: 600px;
    width: 650px;
    margin-top: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border: none;
}

.righttop{

    display: flex;
    width: auto;
    height: 250px;
    background-color: aquamarine;
}

.rightbottom{

    width: auto;
    height: 250px;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.a1, .a2, .a3{
    height: 150px;
    margin: 25px;
    width: 150px;
    background-color: blueviolet;
    
}

.a4, .a5, .a6{

    height: 50px;
    width: 500px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: blue;

}
